version: 2 # use CircleCI 2.0
jobs:
    build:
        docker:
            - image: circleci/node:12
        steps:
            - checkout # special step to check out source code to working directory

            - restore_cache: # special step to restore the dependency cache
                  # Read about caching dependencies: https://circleci.com/docs/2.0/caching/
                  keys:
                      - v1-repo-{{ checksum "package-lock.json" }}

            - run:
                  name: Install dependencies
                  command: yarn install --frozen-lockfile # replace with `yarn install` if using yarn

            - save_cache: # special step to save the dependency cache
                  key: v1-repo-{{ checksum "package-lock.json" }}
                  paths:
                      - 'node_modules'

            - run:
            name: Build Project
            command: yarn build # replace with `yarn install` if using yarn

            - run:
                  name: Run tests
                  # Runs jest with "--maxWorkers=2" argument to avoid OOM issues
                  command: yarn test # replace with `yarn test` if using yarn

            - store_artifacts:
                  path: test-results

            - store_test_results:
                  path: test-results

workflows:
    version: 2
    Build and Test:
        jobs:
            - build
